[submodule "neureka-tx"]
	path = neureka-tx
	url = git@iis-git.ee.ethz.ch:lkesting/neureka-tx.git
	branch = main
[submodule "i-vit"]
	path = i-vit
	url = git@iis-git.ee.ethz.ch:lkesting/i-vit.git
	branch = main
[submodule "neureka-tx-backend"]
	path = neureka-tx-backend
	url = git@iis-git.ee.ethz.ch:lkesting/neureka-tx-backend.git
	branch = main
